/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background-color: #F2F2F2;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  height: 50px;
  border-radius: 24px;
  border: 1px solid rgb(214, 211, 211);
  transition: box-shadow 0.1s ease-in-out;
}

.search-bar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 24px;
  font-size: 16px;
  background-color: white;
}

.lens-icon {
  margin-left: 10px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top:20px;;
}

.container button {
  color: black;
  font-size: 17px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.container button:hover {
  border-color: rgb(215, 211, 211);
}

.container button:active {
  border-color: rgb(14, 129, 237);
}
 .submit_buttons {  
  display: inline-block;  
  height: 36px;  
  cursor: pointer;  
  line-height: 27px;  
  background-color: #f2f2f2;  
  border: 1px solid #f2f2f2;  
  border-radius: 2px;  
  color: #757575;  
  cursor: default;  
  font-family: arial,sans-serif;  
  font-size: 13px;  
  font-weight: bold;  
  margin: 11px 4px;  
  min-width: 54px;  
  padding: 0 16px;  
  text-align: center;  
 }  
 .submit_buttons {  
  position: relative;  
  left: 25%;  
  right: -50%;  
      cursor: pointer;  
 }  
 .submit_buttons:hover {  
  border: .7px solid #d0d0d0;  
  color: #000;  
  box-shadow:0px 1px 4px #E4E4E4;  
 }  
.languages{
  width: 470px;
  margin: auto;
  margin-top: 70px;
  display: flex;
  font-size: 13px;
  line-height: 13px;
}

.languages ul{
  display: flex;
  margin-left: 5px;
}

.languages ul li{
  list-style: none;
  margin-right: 20px;
}

.languages ul li a{
  text-decoration: none;
}

.languages ul li a:hover{
  text-decoration: underline;
}


footer {
  background-color: #F2F2F2;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

footer ul {
  list-style: none;
  margin-top: 10px;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer ul li a {
  text-decoration: none;
  color: #333;
}
